# Bỏ qua thư mục node_modules
node_modules/

# Bỏ qua file lock
package-lock.json

# Bỏ qua thư mục build (nếu có)
dist/
build/

# Bỏ qua các file môi trường
.env
.env.local
.env.development
.env.production

# Bỏ qua các file log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Bỏ qua thư mục IDE/editor
.vscode/
.idea/
.DS_Store
